{% extends "base.html" %}

{% block content %}
  {% include "user.html" %}

  <div id="content">
    <div class="column">
      {% for user in users %}
        <p><img src="/static/icon/{{ user.icon }}"/> {{ user.name }}</p>
      {% endfor %}
    </div>
    <div class="column">
      {% if user %}
        <p><a href="/worklog/post">post worklog</a></p>
      {% endif %}
      {% for log in worklogs %}
        <p><img src="/static/icon/{{ log.user.icon }}"/> {{ log.user.name }}: {{ log.text }}</p>
      {% endfor %}
    </div>
  </div>
{% endblock content %}
