{% extends "base.html" %}

{% block content %}
  {% include "user.html" %}

  <div id="content">
    <div class="column">
      <table class="board">
        <tr>
          <td colspan="2"><h4>leaderboard</h4></td>
          <td class="shrink streak">streak</td>
          <td class="shrink count">total</td>
        </tr>
        {% for entry in leaderboard %}
          {% if loop.index % 2 == 0 %}<tr class="even">{% else %}<tr class="odd">{% endif %}
            <td class="shrink"><img width="16px" height="16px" src="/static/icon/{{ entry.user.icon }}"/></td>
            <td class="name"><a href="/user/{{ entry.user.name }}">{{ entry.user.name }}</a></td>
            <td class="shrink streak">
              {% if entry.latest == 0 or entry.latest == 1 %}
                {% if entry.latest == 0 %}
                  <div class="current">
                {% elif entry.latest == 1 %}
                  <div class="lapsing">
                {% endif %}
                  {{ entry.streak }} {% if entry.streak == 1 %}week{% else %}weeks{%endif%}
                </div>
              {% endif %}
            </td>
            <td class="shrink count">{{ entry.total }} {% if entry.total == 1 %}week{% else %}weeks{%endif%}</td>
        {% endfor %}
      </table>
    </div>
    <div class="column">
      {% include "timeline.html" %}
    </div>
  </div>

  <div id="countdown">{{ countdown }}</div>
{% endblock content %}
