{% extends "base.html" %}

{% block content %}
  {% include "user.html" %}

  <div id="content">
    <div class="column">
      <b>post worklog</b>
      {% if message %}<div id="message">{{ message }}</div>{% endif %}
      <form action="/worklog/post" method="post">
        <table class="form">
          <tr><td class="shrink">worklog</td><td class="expand"><input class="worklog" type="text" name="worklog"/></td></tr>
          <tr><td class="shrink">link</td><td class="expand"><input class="link" type="text" name="link"/></td></tr>
          <tr><td colspan="2" class="submit"><button type="submit">post</button></td></tr>
        </table>
      </form>
    </div>
  </div>
{% endblock content %}
