/* basics */

body {
    background-color: #0a1a24;
    font-family: "Lato", sans-serif;
    font-size: 13px;
    color: #eee;
}

a {
    color: #9df;
    text-decoration: none;
}

a:hover {
    color: #dff;
}

button {
    background-color: #0a1a24;
    border-width: 0;
    font-family: "Lato", sans-serif;
    font-size: 12px;
    color: #eee;
}

textarea {
    font-family: "Lato", sans-serif;
    font-size: 13px;
}

input[type="text"], input[type="password"], textarea {
    border: 1px solid #0a1a24;
    background-color: #204056;
    color: #fff;
}

input[type="text"]:hover, input[type="text"]:focus, input[type="password"]:hover, input[type="password"]:focus, textarea:hover, textarea:focus {
    background-color: #305060;
}

input[type="file"] {
    max-width: 140px;
}

h4 {
    margin: 5px 3px 10px 3px;
}

img {
    vertical-align: sub;
}

/* layout */

div#user {
    text-align: right;
    position: absolute;
    right: 0;
    top: 0;
    padding: 8px;
}

div#padding {
    max-width: 1400px;
    min-width: 0;
    margin: auto;
}

div#header {
    margin: 75px auto;
    text-align: center;
}

div#content {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}

div.column {
    border: solid #aaa;
    border-width: 1px;
    width: 600px;
    padding: 5px;
    background-color: #102f40;
    margin: 0 5px 50px 5px;
}

@media screen and (max-width:480px) {
    div#content { flex-wrap: wrap;  }
    div.column { flex-basis: 100%; }
}

/* form tables */

td.input {
    text-align: left;
}

td.submit {
    text-align: center;
}


td.shrink {
    white-space: nowrap;
}

td.expand {
    width: 99%;
}

td.name {
    width: 80%;
}

td.count {
    width: 10%;
    text-align: right;
}

td.streak {
    width: 10%;
    text-align: right;
}

input.worklog, input.link {
    width: 100%;
}

/* button that looks like a link */

button.link-button {
    color: #9df;
    font-size: 13px;
    display: inline;
    padding: 0;
    cursor: pointer;
}

button.link-button:hover {
    color: #dff;
}

/* worklogs and leaderboard */

p {
    margin: 5px 3px 5px 3px;
}

table, tr, td {
    border-collapse: collapse;
}

table.board {
    width: 100%;
}

td {
    padding: 2px;
}

tr.odd {
    background-color: #1f465e;
}

div.lapsing {
    color: #9cc;
}

.newer {
    float: right;
}
